* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #fff;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
article {
  padding: 0;
}


/* CODE STARTS HERE */

header {
  width: 100%;
  background: pink;
  padding: 1em;
  text-align: right;
}

/* Section 1: Form Input */
.companies-form-input {
  background: yellow;
  min-height: 70%;
  background: url("./assets/form-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.companies-form-input-header {
  text-align: center;
  margin: 1em 0 1em 0;
}
.form-container {
  background: red;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

@media(min-width: 992px) {
  .form-container {
    width: 80%;
  }
}

.form {
  background: yellow;
  min-height: 50%;
  margin: 1em 0 1em 0;
}

/* Section 1: Form Input */
.companies-results-table {
  background: orange;
}

.table-container {
  width: 80%;
  background: purple;
  margin: auto;
  height: 100%;
}
